<div class="row">
  <div class="col-sm-8">
    <input-in-place model="board.title" save-fn="updateBoard()" field="titleFieldOpts">
      <h3>{{ board.title == "Untitled" ? "Add Board title..." : board.title }}</h3>
    </input-in-place>
  </div>

  <div class="col-sm-4">
    <board-select boards="boards"></board-select>
    <a href="javascript:void(0)" ng-click="newBoard()">New Board</a>
    <a href="javascript:void(0)" ng-click="deleteBoard()">Delete Board</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4" style="word-wrap: break-word;" ng-repeat="list in board.lists">
    <list-elem list="list"></list-elem>
  </div>
</div>