<!DOCTYPE html>
<html ng-app="djello" ng-strict-di>
<head>
  <title>ProjectDjello</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="AppCtrl">

<%= yield %>

</body>
</html>
